[Unit]
Description=Icq Bot
After=network.target

[Service]
Type=simple
TimeoutSec=0
User=damir
Group=damir

WorkingDirectory=/home/damir/icqcoronabot/
Environment="PYTHONPATH=/home/damir/icqcoronabot/"
ExecStart=/home/damir/icqcoronabot/.venv/bin/python /home/damir/icqcoronabot/icqbot.py


[Install]
WantedBy=multi-user.target
